
.contactBox{
  background-color: #30415C;
  margin-top : 120px ;
  border-radius: 20px;

    &>p{
      font-size: 20px;
      text-align: center;
      padding: 28px 0;
    }
  
}
.endText{
  margin-top: 200px;
  font-size: 80px;
  font-weight: bold;
  color: #CFA34C;
  text-align: center;
  height: 200px;
}