.headerBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  margin: 0 auto;
  
  .headerText{
    font-size: 20px;
    color: #FFFFFF;
  }
  .headerFlexBox{
    width: 480px;
    display: flex;
    justify-content: space-between;
  }
}