.headerBox{
  max-width: 1400px ;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 99;
  
  .headerText{
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .headerFlexBox{
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}

// 480~768px, 768~1024px, 1024~1200px, 1200px~

//반응형 1200px 이하
@media screen and (max-width: 1200px){
  .headerBox{
    .headerText{
      font-size: 16px;
    }
  }
}
//반응형 1024px 이하
@media screen and (max-width: 1024px){
  .headerBox{
    .headerText:first-of-type{
      display: none;
    }
    .headerFlexBox{
      width: 100%;
      &>.headerText{
        display: block;
      }
    }
  }
  
}