.headerBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  margin: 0 auto;
  
  .headerText{
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .headerFlexBox{
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}