.mainContainer{
  width: 100%;
  height: 100%;
  padding-top: 120px;
  .prefaceContainer{
    display: flex;
    width: 100%;
    gap: 80px;
    .introduceTextBox{
      width: calc(100% - 726px);
      margin-top: 120px;
      .introduceText{
        color: #FFFFFF;
        font-size: 44px;
        font-weight: bold;
        line-height: 1.2;
        animation: basic 1s forwards ease ;
        animation-delay: 0.3s;
        opacity: 0;

        &>span{
          font-size: 60px;
          color: #CFA34C;
        }
      }
      .subIntruoduceText{
        color: #A5AFBF;
        font-size: 20px;
        animation: basic 1s forwards ease;
        animation-delay: 0.6s;
        opacity: 0;

        &:first-of-type{
          margin-top: 40px;
        }
      }
    }
    .profileImageBox{
      position: relative;
      width: calc(100% - 755px);
      .profileCircle{
        animation: scale 1s ease;
        width: 60%;
        display: block;
        position: relative;
        &::before{
          display: block;
          position: absolute;
          width: 420px;
          height: 400px;
          border-radius: 50%;
          border: 1px solid #D6B97F;
          top: 112px;
          content: '';
        }
      }
      .profileImage{
        animation : scale 1s ease;
        animation-delay: 0.13s;
        width: 315px;
        height: 300px;
        border-radius : 50%;
        position: absolute;
        left: 251px;
        z-index: 2;
        &>img{
          width: 100%;
        }
      }
      .profileCircleBg{
        animation : scale 1s ease;
        animation-delay: 0.23s;
        width: 263px;
        height: 250px;
        border-radius: 50%;
        background-color: #D6B97F;
        position: absolute;
        left: 382px;
        top: 155px;
      }
    }
  }
  .portfolioTitle{
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top : 120px;
    &:first-of-type{
      margin-top: 160px;
      animation: basic forwards 1s ease;
      animation-delay: 0.8s;
      opacity: 0;
    }
    &.active{
      animation: motion 1s ease;
    }
  }
  .aboutmeText{
    opacity: 0;
    font-size: 20px;
    margin-top: 20px;
    color: #A5AFBF;
    animation: start 1s forwards ease;
    animation-delay: 1s ;
  }
  .projectList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    gap: 40px;
    &.active {
      animation: motion 1s ease;
    }
    .projectBox{
      width: 45%;
      border: 1px solid #D6B97F ;
      border-radius: 12px;
      padding: 40px 52px;
      .projectSubText{
        margin-top: 12px;
      }
     .projectThumbnail{
       width: 100%;
       height: 400px;
       border-radius: 20px;
       &>img{
         width: 100%;
         height: 100%
       }
      }
      .projectTitle{
        font-size: 32px;
        font-weight: bold;
        margin-top: 32px;
      }
      .projectTextContainer{
        margin-top: 32px;
        .projectTextBox{
          display: flex;
          align-items: center;
          margin-top: 8px;
          border-top: 1px solid rgba($color: #A5AFBF, $alpha: 0.3);
          padding-top: 8px;
          &:first-of-type{
            margin-top: 20px;
          }
          &:last-of-type{
            border-bottom: 1px solid rgba($color: #A5AFBF, $alpha: 0.3);
            padding-bottom: 8px;
          }
          &>span{
            display: block;
            width: 106px; 
            color: #A5AFBF;
            margin-right: 16px;
          }
          .projectText{
            max-width: 388px;
            width: 100%;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
      .projectBtnBox{
        display: flex;
        align-items: center;
        width: 320px;
        margin-top: 32px;
        justify-content: space-between;
        .projectBtn{
          width: 150px;
          height: 35px;
          color: #111C2E;
          text-align: center;
          background-color: #D6B97F;
          border-radius: 80px;
          display: block;
          line-height: 35px;
        }
      }
    }
  }
  .techStackContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    margin-top: 40px;
    &.active{
      animation: motion 1s ease;
    }
    .techStackList{
      max-width: 300px;
      height: 300px;
      width: 100%;
      background-color: #30415C;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      .techStackimg{
        max-width: 250px;
        &>img{
          width: 100%;
        }
      }
      .techStackText{
        font-size: 32px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }
  .experienceBox{
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
    margin-top: 120px;
    &.active{
      animation: motion 1s ease;
    }
    .experienceList{
      width: 45%;
      border: 1px solid #CFA34C;
      border-radius: 20px;
      padding: 4rem;
      position: relative;

      .experienceSubTitle{
        font-weight: bold;
        font-size: 32px;
        width: 120px;
        position: absolute;
        left: 19px;
        top: -22px; 
        border: 1px solid #D6B97F;
        text-align: center;
        border-radius: 8px;
        background-color: #111C2E;
        &:nth-child(1){
          width: 30%;
        }
      }
      .experienceText{
        font-size: 20px;
        font-weight: bold;
        padding: 20px 0 ;
        color: #A5AFBF;
      }
    }
  }
}

//max 1200 1024 768 480 

//max 1399~1201

@media screen and (max-width: 1399px) {
  .mainContainer{
    .prefaceContainer{
   
      .profileImageBox {
        margin: 0  auto;
        width: unset;
        .profileImage{
          position: unset;
          min-width: 300px;
          max-width: 450px;
          width: 100%;
        }
        .profileCircle{
          display: none;
       }
       .profileCircleBg{
         display: none;
       }
      }
    }
  }
}

//1200~769
@media  (max-width : 1208px) {
  .mainContainer{
    .prefaceContainer{
      align-items: center;
      gap: 40px;
      .introduceTextBox{
        width: 70%;
      }
    }
    .projectList{
      flex-wrap: wrap;
      justify-content: center;
      .projectBox{
        width: 35%;
        .projectThumbnail{
          height: unset;
         &>img{
          height: auto;
         }
        }
      }
    }
  }
}

//768~481
@media screen and (max-width : 1024px) {
  .mainContainer{
    .projectList{
      .projectBox{
        width: 100%;

      }
    }
    .prefaceContainer{
      flex-direction: column-reverse;
      gap: 120px;
      .introduceTextBox{
        width: 100%;
        margin: 0;
        .introduceText{
          font-size: 60px;
          text-align: center;
          &>span{ 
            color: #FFFFFF;
            font-size: 60px;
          }
        }
        .subIntruoduceText{
          font-size: 24px;
          &:first-of-type{
            font-size: 24px;
          }
        }
      }
      .profileImageBox{
        margin: 0  auto;
        width: 60%;
        .profileImage{
          position: unset;
          min-width: unset;
          max-width: unset;
          width: 100%;
          height: auto;
        }
      }
    }
    .experienceBox{
      flex-direction: column;
      .experienceList{
        width: unset;
      }
    }
    .techStackContainer{
      gap: 20px;
      .techStackList{
        max-width: 230px;
        height: 240px;
        width: 45%;
        .techStackimg{
          max-width: 150px;
        }
        .techStackText{
          font-size: 24px;
        }
      }
    }
    .portfolioTitle{
      text-align: center;
    }
  }
}


//480
@media screen and (max-width : 480px) {
  .mainContainer{
    .prefaceContainer{
      .introduceTextBox{
        .subIntruoduceText{
          font-size: 28px;
          text-align: center;
          &:first-of-type{
            font-size: 28px;
          }
        }
      }
      .profileImageBox{
        margin: 0  auto;
        width: 60%;
        .profileImage{
          position: unset;
          min-width: unset;
          max-width: unset;
          width: 100%;
          height: auto;
        }
      }
    }
    .projectList{
      .projectBox{
        width: unset;
      }
    }
    .techStackContainer{
      gap: 20px;
      .techStackList{
        max-width: 150px;
        min-width: 150px;
        height: 200px;
        width: 45%;
        padding: 20px 0;
        .techStackimg{
          max-width: 100px;
        }
        .techStackText{
          font-size: 24px;
        }
      }
    }
  }
}
@keyframes motion {
  0%{
    opacity: 0;
    transform : translateY(100px)
  }
  100%{
    opacity: 1;
    transform : translateY(0)
  }
}

@keyframes basic {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes basic2 {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
 0%{
  scale: 0;
 }
 100%{
  scale: 1;
 }
}
  
