.mainContainer{
  width: 100%;
  height: 100%;
  padding-top: 120px;
  .prefaceContainer{
    display: flex;
    width: 100%;
    gap: 80px;
    .introduceTextBox{
      width: calc(100% - 726px);
      margin-top: 120px;
      .introduceText{
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bold;
        &>span{
          font-size: 60px;
          color: #CFA34C;
        }
      }
      .subIntruoduceText{
        color: #FFFFFF;
        font-size: 20px;
        margin-top: 40px;
      }
    }
    .profileImageBox{
      position: relative;
      width: calc(100% - 755px);
      .profileCircle{
        width: 60%;
        display: block;
        &::before{
          display: block;
          position: absolute;
          width: 420px;
          height: 400px;
          border-radius: 50%;
          border: 1px solid #D6B97F;
          top: 112px;
          content: '';
        }
      }
      .profileImage{
        width: 315px;
        height: 300px;
        border-radius : 50%;
        position: absolute;
        left: 251px;
        z-index: 2;
        &>img{
          width: 100%;
        }
      }
      .profileCircleBg{
        width: 263px;
        height: 250px;
        border-radius: 50%;
        background-color: #D6B97F;
        position: absolute;
        left: 382px;
        top: 155px;
      }
    }
  }
  .portfolioTitle{
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top : 120px;
    &:first-of-type{
      margin-top: 160px;
    }
  }
  .aboutmeText{
    font-size: 28px;
    margin-top: 20px;
  }
  .projectList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    gap: 40px;
    .projectBox{
      width: 45%;
      border: 1px solid #D6B97F ;
      border-radius: 12px;
      padding: 40px 52px;

     .projectThumbnail{
       width: 100%;
       height: 400px;
       border-radius: 20px;
       &>img{
         width: 100%;
         height: 100%
       }
      }
      .projectTitle{
        font-size: 32px;
        font-weight: bold;
        margin-top: 20px;
      }
      .projectText{
        font-size: 20px;
        margin-top: 8px;
      }
      .projectBtnBox{
        display: flex;
        align-items: center;
        width: 320px;
        margin-top: 40px;
        justify-content: space-between;
        .projectBtn{
          width: 150px;
          height: 35px;
          color: #111C2E;
          text-align: center;
          background-color: #D6B97F;
          border-radius: 80px;
          display: block;
          line-height: 35px;
        }
      }
    }
  }
  .techStackContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    margin-top: 40px;
    .techStackList{
      max-width: 300px;
      height: 300px;
      width: 100%;
      background-color: #30415C;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      .techStackimg{
        max-width: 250px;
        &>img{
          width: 100%;
        }
      }
      .techStackText{
        font-size: 32px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }
  .experienceBox{
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
    margin-top: 120px;
    .experienceList{
      width: 45%;
      border: 1px solid #CFA34C;
      border-radius: 20px;
      padding: 4rem;
      position: relative;
      max-height: 420px;

      .experienceSubTitle{
        font-weight: bold;
        font-size: 32px;
        width: 120px;
        position: absolute;
        left: 19px;
        top: -22px; 
        border: 1px solid #D6B97F;
        text-align: center;
        border-radius: 8px;
        background-color: #111C2E;
        &:nth-child(1){
          width: 30%;
        }
      }
      .experienceText{
        font-size: 20px;
        font-weight: bold;
        padding: 20px 0 ;
        
        
      }
    }
  }
}